# Compiled class files
*.class

# IDE directories
/.settings/
/.project
/.classpath
/.vscode/
/.idea/
# imf file
/CoffeeSocketDemo.iml 

# Eclipse / STS specific files
*.log
/mvn
/.mvn

# bin or target folder
/bin/
/target/

# libraries
/lib/
